/* General Stylings */

body {
  margin: 0;
  padding: 0;
  max-width: 1700px;
  margin: 0 auto;
  background-color: #fff;
  /* cursor: url('../src/Assets/Images/A_fresh_Leaf_Edited-removebg-preview.png') 10 10, auto; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  scroll-behavior: smooth;
  scroll-snap-type: none;
} */

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: InterBold;
  src: url("../src/Assets/Fonts/Inter/Inter_18pt-Bold.ttf");
}

@font-face {
  font-family: InterLight;
  src: url("../src/Assets/Fonts/Inter/Inter_18pt-Light.ttf");
}

@font-face {
  font-family: PlusJarkataSansBold;
  src: url("../src/Assets/Fonts/PlusJarkataSans/PlusJakartaSans-Bold.ttf");
}

@font-face {
  font-family: PlusJarkataSansLight;
  src: url("../src/Assets/Fonts/PlusJarkataSans/PlusJakartaSans-Light.ttf");
}

@font-face {
  font-family: HeadLandOneReglar;
  src: url("../src/Assets/Fonts/HeadlandOne/HeadlandOne-Regular.ttf");
}

/* Hero Stylings */

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  box-shadow: -3px 71px 400px 141px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -3px 71px 400px 141px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -3px 71px 400px 141px rgba(0, 0, 0, 0.75) inset;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  box-shadow: -190px -133px 400px -150px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: -190px -133px 400px -150px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: -190px -133px 400px -150px rgba(0, 0, 0, 1) inset;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  color: #fff;
  position: sticky;
  /* animation: navSlideDown 1s; */
}

.logo {
  font-family: PlusJarkataSansBold;
  font-size: 50px;
}

.organics-text {
  background: linear-gradient(to right, rgb(0, 255, 0), rgb(127, 234, 127));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}

.desktop-nav ul {
  display: flex;
  gap: 40px;
}

.desktop-nav ul li a {
  font-family: PlusJarkataSansBold;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}

.desktop-nav ul li a:hover {
  transform: scale(1.3);
  padding-bottom: 10px;
  background-clip: text;
  color: rgb(0, 255, 0);
  /* -webkit-text-fill-color: transparent; */
  font-weight: 900;
  border-bottom: 3px solid rgb(0, 255, 0);
  padding-bottom: 1px;
  transition-duration: 2s;
}

.mobile-nav {
  display: none;
}

.swing {
  width: 50px;
  height: 50px;
  color: rgb(162, 255, 0);
  margin: 30px 20px 0 0;
  animation: swing 2s infinite;
  cursor: pointer;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1200px) {
  .desktop-nav {
    padding: 20px;
  }
}

@media (max-width: 1050px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  @keyframes navSlideDown {
    from {
      transform: translateY(50%);
    }
    to {
      transform: translateY(0);
    }
  }

  .mobile-nav .logo {
    padding: 20px;
  }

  .mobile-nav ul li a {
    font-family: PlusJarkataSansBold;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    width: 50%;
    height: 100vh;
    align-items: center;
    animation: navDropDown 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  @keyframes navDropDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .cancel-btn {
    align-self: flex-end;
    margin: 20px 20px 0 0;
    width: 50px;
    height: 50px;
    color: rgb(0, 255, 0);
    cursor: pointer;
  }

  .mobile-nav ul li a:hover {
    transform: scale(1.3);
    padding-bottom: 10px;
    background-clip: text;
    color: rgb(0, 255, 0);
    /* -webkit-text-fill-color: transparent; */
    font-weight: 900;
    border-bottom: 3px solid rgb(0, 255, 0);
    padding-bottom: 1px;
    /* transition-duration: 2s; */
  }
  .mobile-nav ul {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .mobile-nav .logo {
    font-size: 40px;
  }

  .swing {
    width: 40px;
    height: 40px;
  }

  .cancel-btn {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 470px) {
  .mobile-nav .logo {
    font-size: 25px;
  }

  .swing {
    width: 25px;
    height: 25px;
  }

  .cancel-btn {
    width: 30px;
    height: 30px;
  }
}

/* Hero Socials */
.hero-socials {
  color: #fff;
  position: absolute;
  top: 80px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hero-social-line-top {
  width: 2px;
  background: linear-gradient(to top, #fff, #aaa8a8, #6e6e6e, #1c1c1c);
  height: 200px;
}

.hero-social-line-bottom {
  width: 2px;
  background: linear-gradient(to bottom, #fff, #aaa8a8, #6e6e6e, #1c1c1c);
  height: 200px;
}

.hero-socials a {
  color: #d6d4d4;
}

.hero-socials a:hover {
  color: rgb(0, 255, 0);
}

/* Hero Content Styling */

.hero-content {
  margin: 0 auto;
  width: 700px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  /* animation: navSlideDown 2s; */
}

.hero-content h1 {
  font-size: 65px;
  font-family: HeadLandOneReglar;
}

.hero-content p {
  font-size: 18px;
  font-family: InterBold;
  line-height: 1.5;
  letter-spacing: 3px;
}

.hero-content a button {
  font-size: 20px;
  font-family: InterBold;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #fff;
  color: green;
  cursor: pointer;
  border: 0;
}

.hero-content a button:hover {
  background-color: rgb(0, 255, 0);
  color: #fff;
  transition: all 0.5s;
}

@media (max-width: 770px) {
  .hero-content {
    width: 500px;
  }

  .hero-content h1 {
    font-size: 50px;
  }

  .hero-content p {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .hero-content {
    width: 350px;
  }

  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .hero-content {
    width: 300px;
    margin-top: 30px;
    gap: 50px;
  }

  .hero-content h1 {
    font-size: 30px;
  }

  .hero-content p {
    font-size: 12px;
  }
}

/* Image Indicator */
.image-indicator {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100px;
}

/* About Section */
.about {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

/* .about img {
  width: 100px;
} */

.what-we-do {
  flex-basis: 30%;
}

.what-we-do h1 {
  margin: 100px 0 30px 100px;
  text-align: center;
  font-family: HeadLandOneReglar;
  font-size: 35px;
}

.what-we-do p {
  margin-left: 100px;
  text-align: justify;
  font-family: InterBold;
  font-size: 15px;
  color: #aaa8a8;
}

.what-we-do img {
  margin-top: 100px;
  width: 300px;
}

.about-us {
  display: flex;
  position: relative;
  overflow: hidden;
}

.about-us img {
  width: 500px;
  border-radius: 50%;
  height: 500px;
  align-self: center;
  position: relative;
  z-index: 999;
  right: -150px;
}

.about-us div {
  position: absolute;
  background-color: rgb(10, 199, 10);
  color: #fff;
  font-family: InterLight;
  font-size: 15px;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 1000;
  bottom: 0;
  padding: 30px;
  /* left: 30px; */
}

.about-us div h2 {
  font-family: HeadLandOneReglar;
  margin-bottom: 20px;
}

.about-fresh-leaf {
  animation: rotateLeaf 3s linear infinite;
  transition: all 2s;
}

@keyframes rotateLeaf {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (max-width: 1200px) {
  .what-we-do h1 {
    margin: 50px;
    font-size: 25px;
  }

  .what-we-do p {
    margin-left: 50px;
  }
}

@media (max-width: 850px) {
  .about {
    flex-direction: column;
  }

  .what-we-do {
    flex-basis: 100%;
  }

  .what-we-do h1 {
    margin: 100px 100px 0 100px;
    text-align: center;
    font-family: HeadLandOneReglar;
    /* font-size: 35px; */
  }

  .what-we-do p {
    margin: 30px 100px 0 100px;
    text-align: center;
    font-family: InterBold;
    font-size: 15px;
    color: #aaa8a8;
  }

  .what-we-do img {
    margin-top: 40px;
    width: 200px;
  }

  .about-fresh-leaf {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}

@media (max-width: 450px) {
  .what-we-do h1 {
    margin: 50px 20px 0 20px;
  }

  .what-we-do p {
    margin: 20px 20px 0 20px;
    /* text-align: center;
    font-family: InterBold;
    font-size: 15px;
    color: #aaa8a8; */
  }

  .about-fresh-leaf {
    padding-bottom: 0px;
  }
}

/* Services Section Stylings */
.services {
  background-color: #fff;
  padding-top: 100px;
  position: relative;
  padding-bottom: 100px;
}

.from-top {
  width: 100px;
  position: absolute;
  top: 0;
  left: 45%;
  right: 45%;
  background-color: green;
  /* margin: 0 auto; */
}

.from-top h1 {
  transform: rotate(180deg);
  /* transform-origin: bottom left; */
  margin: 0 auto;
  writing-mode: vertical-lr;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 50px;
  font-family: PlusJarkataSansBold;
}

.service-featured-image {
  width: 300px;
  height: 200px;
}

.service {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.service-info {
  flex-basis: 40%;
}

.service-info h1 {
  font-size: 40px;
  font-family: HeadLandOneReglar;
  margin-bottom: 20px;
}

.service-info p {
  font-size: 30px;
  margin-bottom: 70px;
  font-family: InterLight;
  /* font-family: HeadLandOneReglar; */
}

.efgh {
  background-color: green;
  position: relative;
  height: 350px;
  width: 400px;
}

.service-info div img {
  position: absolute;
  top: -50px;
  left: 50px;
  height: 350px;
  width: 400px;
  transition: all 0.5s;
}

.ijkl {
  display: none;
}
.service-info div img:hover {
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .from-top {
    width: fit-content;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 0 auto;
  }

  .from-top h1 {
    transform: rotate(0deg);
    /* transform-origin: bottom left; */
    margin: 0 auto;
    margin-bottom: 30px;
    writing-mode: initial;
    color: #fff;
    text-align: center;
    padding: 2px 10px;
    font-size: 50px;
    font-family: PlusJarkataSansBold;
  }

  .featrured-leaf {
    display: none;
  }

  .service-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .efgh {
    display: flex;
    background-color: transparent;
  }

  .service-info div img {
    position: absolute;
    top: auto;
    right: auto;
    height: 350px;
    width: 400px;
    transition: all 0.5s;
  }

  .service-info div img:hover {
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
  }

  .service-featured-image {
    justify-self: end;
  }

  .service {
    display: flex;
    justify-content: space-between;
    margin: 50px;
  }

  .efgh {
    display: none;
  }

  .ijkl {
    display: block;
    width: 400px;
    height: 350px;
  }
}

@media (max-width: 800px) {
  .service {
    flex-direction: column;
    text-align: center;
  }

  .ijkl {
    margin: 0 auto;
  }
}

@media (max-width: 525px) {
  .from-top {
    background-color: green;
  }

  .from-top h1 {
    font-size: 30px;
  }

  .service-info h1 {
    font-family: 23px;
  }

  .service-info p {
    font-size: 20px;
  }

  .ijkl {
    width: 300px;
    height: 250px;
  }
}

/* Why Us Section Styling */

.why-us-container {
  position: relative;
}

.why-us-section {
  background-image: url("../src/Assets/Images/Herb\ Bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 50vh; */
  padding: 50px 100px;
  display: flex;
  color: #fff;
  position: relative;
  box-shadow: -3px 71px 400px 141px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: -3px 71px 400px 141px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: -3px 71px 400px 141px rgba(0, 0, 0, 0.6) inset;
  gap: 200px;
  align-items: center;
  /* justify-content: space-between; */
}

.text-and-cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  flex-basis: 80%;
}

.text-and-cta h1 {
  text-align: justify;
  font-family: HeadLandOneReglar;
  line-height: 1.5;
}

.text-and-cta p {
  text-align: justify;
  font-family: PlusJarkataSansLight;
  line-height: 1.5;
  font-size: 20px;
}

.text-and-cta a {
}

.text-and-cta a button {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  font-family: InterBold;
  background-color: #fff;
  color: green;
}

.reasons {
  position: relative;
  background-color: #fff;
  color: #000;
  display: flex;
  /* gap: 50px; */
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
  width: 1000px;
  height: 320px;
}

.reasons img {
  /* position: absolute;
  top: -150px; */
  margin: 0 auto;
  margin-top: -170px;
  width: 250px;
  height: 400px;
  transform: rotate(49deg);
}

.reasons div button {
  position: absolute;
  font-size: 15px;
  padding: 5px;
  background-color: rgb(10, 199, 10);
  color: #fff;
  border: 0;
  cursor: pointer;
  /* margin-top: 30px; */
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  /* pointer-events: none; */
}

.reasons div button:nth-of-type(1) {
  right: 20%;
  bottom: -5px;
}

.reasons div button:nth-of-type(2) {
  right: 10%;
  bottom: -15px;
}

.reasons p {
  font-size: 15px;
  line-height: 1.5;
  font-family: PlusJarkataSansBold;
  margin-top: -30px;
}

@media (max-width: 1180px) {
  .why-us-section {
    gap: 100px;
  }
}

@media (max-width: 1100px) {
  .why-us-section {
    gap: 50px;
    padding: 50px;
  }
}

@media (max-width: 990px) {
  .why-us-section {
    padding: 20px;
  }
}

@media (max-width: 800px) {
  .why-us-section {
    flex-direction: column;
    gap: 150px;
    padding: 50px;
  }

  .reasons {
    padding: 0 50px;
    width: 100%;
    height: 400px;
  }

  .text-and-cta {
    align-items: center;
  }

  .text-and-cta h1,
  .text-and-cta p {
    text-align: center;
  }

  .reasons img {
    margin: 0 auto;
    margin-top: -170px;
    width: 250px;
    height: 400px;
    transform: rotate(49deg);
  }

  .reasons p {
    font-size: 20px;
    margin-top: -30px;
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .why-us-section {
    padding: 20px;
  }

  .reasons {
    height: 550px;
  }
}

/* Consult Us Section Stylings */
.optIn-div {
  margin: 0;
  background-image: url("../src/Assets/Images/Herb\ Bg.jpg");
  padding: 30px 100px;
  color: #fff;
  font-family: HeadLandOneReglar, sans-serif;
  box-shadow: -3px 71px 400px 141px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: -3px 71px 400px 141px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: -3px 71px 400px 141px rgba(0, 0, 0, 0.6) inset;
}

.optIn {
  border-radius: 30px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(49, 77, 2) 0%,
    rgb(1, 88, 1) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 80px 100px;
}

.optIn h1,
.optIn p {
  margin-top: 0;
  text-align: center;
  font-size: 30px;
}

.optIn p {
  font-size: 20px;
  font-family: InterLight;
}

.border {
  width: 300px;
  height: 1px;
  background-image: linear-gradient(to right, #989595, #fff, #797171);
  margin: 0 auto;
  margin-bottom: 20px;
}

.optIn h1 {
  margin-bottom: 20px;
}

.optIn input {
  border-radius: 20px;
  border: 1.5px solid #fff;
  width: 100%;
  height: 60px;
  background-color: transparent;
  padding-left: 30px;
  outline: none;
  font-size: 20px;
  color: #ffffff;
  font-family: InterLight, sans-serif;
}

.optIn input::placeholder,
.optIn textarea::placeholder {
  color: #ffffff;
  font-size: 20px;
  font-family: InterLight, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
}

form div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

form button {
  border: 0px solid #ffffff;
  border-radius: 50px;
  padding: 15px 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: green;
  width: fit-content;
  align-self: center;
  font-size: 20px;
  transition: all 1s;
  cursor: pointer;
}

form button:hover {
  border: 1.5px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.optIn textarea {
  border-radius: 20px;
  border: 1.5px solid #fff;
  width: 100%;
  height: 60px;
  background-color: transparent;
  padding-left: 30px;
  padding-top: 20px;
  /* padding-bottom: 30px; */
  outline: none;
  font-size: 18px;
  color: #ffffff;
  resize: none;
  scroll-behavior: auto;
  overflow: hidden;
  font-family: InterLight, sans-serif;
}

@media (max-width: 1000px) {
  .optIn {
    padding: 40px 30px;
  }

  .optIn-div {
    padding: 50px;
  }
}

@media (max-width: 800px) {
  form div {
    flex-wrap: wrap;
    gap: 30px;
  }

  .optIn textarea,
  .optIn input {
    width: 93%;
  }

  .optIn {
    padding: 50px 20px;
  }
}

@media (max-width: 650px) {
  form button {
    width: 100%;
    font-size: 15px;
  }

  .optIn h1,
  .optIn p {
    font-size: 20px;
  }

  .border {
    width: 200px;
    margin-bottom: 10px;
  }

  .optIn textarea {
    border-radius: 40px;
    border: 2px solid #fff;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
  }

  .optIn input {
    border-radius: 40px;
    border: 2px solid #fff;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
  }

  form {
    padding-top: 20px;
    gap: 30px;
  }

  .optIn input::placeholder,
  .optIn textarea::placeholder {
    font-size: 12px;
  }

  form div {
    gap: 30px;
  }

  .border {
    width: 200px;
  }
}

@media (max-width: 460px) {
  .optIn-div {
    padding: 20px;
  }

  .optIn h1 {
    font-size: 15px;
  }

  .optIn p {
    font-size: 10px;
  }
}

/* Footer Stylings */
.footer {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  background-color: green;
}

.footer-top-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 2px solid #fff;
}

.footer-texts {
  display: flex;
  gap: 300px;
}

.footer-contact-info,
.footer-quick-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
  font-family: PlusJarkataSansBold;
  color: #fff;
}

.footer-quick-links a,
.footer-contact-info a,
.footer-socials a {
  color: #fff;
}

.footer-socials {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-socials div {
  display: flex;
  align-self: flex-end;
  gap: 30px;
}

.footer-socials div a {
  border: 1px solid #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: all 1s;
}

.footer-socials div a:hover {
  background-color: #fff;
  color: green;
}

.footer-socials p {
  color: #fff;
  font-family: InterLight;
}

@media (max-width: 1235px) {
  .footer-contact-info,
  .footer-quick-links {
    font-size: 15px;
  }
}

@media (max-width: 1120px) {
  .footer-texts {
    gap: 50px;
  }
}

@media (max-width: 1090px) {
  .footer {
    padding: 50px;
  }

  .footer-texts {
    flex-direction: column;
  }
}

@media (max-width: 830px) {
  .footer-top-container {
    flex-direction: column;
    gap: 50px;
  }

  .footer-texts {
    flex-direction: row;
    gap: 300px;
    align-items: center;
  }

  .footer-socials div a {
    padding: 10px;
    font-size: 15px;
  }
}

@media (max-width: 580px) {
  .footer-socials {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-socials div {
    align-self: center;
  }

  .footer-texts {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .footer-contact-info,
  .footer-quick-links {
    flex-direction: row;
    font-size: 12px;
  }
}